.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    box-shadow: 2px 5px 5px #553a70;
    margin: 9px 0 9px 0;
    border-radius: 4px;
    background-color: #ffffff;
    font-style: italic;
}