main{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0 16px 0 16px;
    z-index: 900;
    width: 100%;
}
.filters{
    display: flex;
    justify-content: space-between;
}
.items{
    display: flex;
    justify-content: right;
    max-width: 1400px;
    width: 100%;
}